fastapi
uvicorn[standard]
python-dotenv
pydantic
python-multipart
pymupdf
python-docx
openai>=1.3.0
groq
openai-whisper
torch
gTTS
soundfile
numpy
starlette
sentence-transformers
bert-score
imageio-ffmpeg
langgraph
langchain
pytest
httpx
playwright
